 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');


    body {
      /* font-family: 'Roboto', sans-serif; */
      font-family: 'Karla', sans-serif;
      background: rgb(195, 34, 160);
      /* background: linear-gradient(
        0deg,
        rgba(195, 34, 160, 1) 0%,   
        rgba(134, 45, 253, 1) 100%
      ); */
      background-color: #1B1B1B ;
      background-attachment: fixed;
      color: white;
      text-align: center;
      margin-top: 1em;
      /* height: 100%; */
            
    }
    .imagee{
      background-image: url("https://abhishekbaiju.is-inside.me/BkW2dcet.gif");
            background-repeat: no-repeat;
            /*background-size: 100%;*/
            background-size:contain;
            /*background-position: 0em 10em;*/
            background-position: center center;
            width: 100%;
            border-radius: 3%;
    }

    img {
      border-radius: 3%;
      width: 50%;
      visibility: hidden;
    }

    .button {
      background-color:black;
      color: white;
      border: 2px solid black;
      border-radius: 0px;
      width: 70%;
      padding: 5vw 10vw;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 3.5vw;
      margin: 6px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      font-weight: 500;
    }

    .button:hover {
      background-color: white;
      text-decoration: none;
      border: 2px solid black;
      color:black;
    }

    .white-i{
      color: white;
      text-decoration: none;
    }

    @media (min-width: 48em) {
      .button{
        font-size: 1.2vw;
        padding: 1vw 5vw;
        width: 40%;

      }
      img {
      border-radius: 3%;
      width: 20%;
    }
    .imagee{
      border-radius: 3%;
    }
}